<div class="media-box-body clearfix">
  <p class="mb-sm">
    <small class="pull-right">
      <%= t(:Owner) %>: <%= update.stream.owner.full_name %>
      <%= update.updated_at.strftime('%H:%M, %A %e %b %Y') %>
    </small>
  </p>
</div>