<div class="media-box-body clearfix">
  <p class="mb-sm">
    <!-- <small class="pull-left"> -->
      <%#= update.update_week %>
    <!-- </small> -->
    <small class="pull-right">
      <%= t(:Owner) %>: <%= update.stream.owner.full_name %>
      <%#= t(:last_updated_at) %> <%= update.updated_at.strftime('%H:%M, %A %e %b %Y') %>
    </small>
  </p>
</div>