
.navbar-title {
	display: flex;
  justify-content: center;
  height: 100%;
  width: 60%;
	padding: 0;
	line-height: 1.1;
	// padding: 0 0 10px;
	margin: 0;
	color: white;
	// background-color: green;
	&-title{
		font-size: $font-size-h2;
	}
	&-subtitle{
		font-size: $font-size-h4;
	}
}
@media only screen and (max-width: $mq-tablet){
	.navbar-title {
  	width: 80%;		
		&-title{
			font-size: $font-size-h3;
		}
		&-subtitle{
			font-size: $font-size-h5;
			padding: 0 0 10px;
		}
	}
}
@media only screen and (max-width: $mq-mobile){
	.navbar-title {
  	// justify-content: flex-start;
		padding: 5px 0 10px;
  	width: 90%;		
		&-title{
			font-size: $font-size-h5;
		}
		&-subtitle{
			font-size: $font-size-h6;
			padding: 0 0 10px;
		}
	}
}
@media only screen and (max-width: $mq-mobile){
	.cust-center-on-xs{
		text-align: center;
	}
}

