<div class="media-box-body clearfix">
  <p class="mb-sm">
    <!-- <small class="pull-left"> -->
      <%#= update.update_week %>
    <!-- </small> -->
    <small class="pull-right">
      <!-- weekly update created:  -->
      Owner: <%= update.project.owner.full_name %>
      <%= update.updated_at.strftime('%H:%M, %A %e %b %Y') %>
    </small>
  </p>
</div>