<div class="panel b">
   <div class="panel-body bb">
      <div class="clearfix">
         <div class="pull-left">
            <button type="button" class="btn btn-default btn-oval">
               <em class="fa fa-play fa-fw text-muted"></em>
               <span>Start</span>
            </button>
            <button type="button" class="btn btn-default btn-oval">
               <em class="fa fa-pause fa-fw text-muted"></em>
               <span>Pause</span>
            </button>
         </div>
         <div class="pull-right">
            <button type="button" class="btn btn-danger btn-oval">Cancel</button>
         </div>
      </div>
   </div>
   <div class="panel-body bb">
      <div class="table-grid table-grid-align-middle mv">
         <div class="col">
              <div class="progress progress-xs m0">
                  <div class="progress-bar progress-bar-info" style="width:48%"></div>
              </div>
         </div>
         <div class="col wd-xxs text-right">
            <div class="text-bold text-muted">48%</div>
         </div>
      </div>
   </div>
   <div class="panel-body">
      <ul class="list-inline mv">
         <li>
            <div class="badge p-sm bg-warning">priority</div>
         </li>
         <li>
            <div class="badge p-sm bg-gray">angularjs</div>
         </li>
         <li>
            <div class="badge p-sm bg-gray">jquery</div>
         </li>
         <li>
            <div class="badge p-sm bg-gray">gulp</div>
         </li>
         <li>
            <div class="badge p-sm bg-gray">git</div>
         </li>
         <li>
            <div class="badge p-sm bg-gray">ios</div>
         </li>
      </ul>
   </div>
   <table class="table bb">
      <tbody>
         <tr>
            <td>
               <strong>Start date</strong>
            </td>
            <td>02/01/2016</td>
         </tr>
         <tr>
            <td>
               <strong>Estimated Hours</strong>
            </td>
            <td>122hs</td>
         </tr>
         <tr>
            <td>
               <strong>Time Consumed</strong>
            </td>
            <td>62hs</td>
         </tr>
         <tr>
            <td>
               <strong>Commits</strong>
            </td>
            <td>140</td>
         </tr>
         <tr>
            <td>
               <strong>Issues</strong>
            </td>
            <td>39</td>
         </tr>
         <tr>
            <td>
               <strong>Files</strong>
            </td>
            <td>87</td>
         </tr>
         <tr>
            <td>
               <strong>Members</strong>
            </td>
            <td>
               <p>Tara Sanders</p>
               <p>Alan Smith</p>
               <p>Priscilla Peters</p>
               <p>Madison Willis</p>
               <p>Lesa Marshall</p>
               <p>Kylie Freeman</p>
            </td>
         </tr>
         <tr>
            <td>
               <strong>Recent files</strong>
            </td>
            <td>
               <div data-height="120" data-scrollable="" class="list-group">
                  <table class="table table-bordered bg-transparent">
                     <tbody>
                        <tr>
                           <td>
                              <em class="fa fa-lg fa-file-code-o"></em>
                           </td>
                           <td><a href="#" class="text-muted">database.controller.js</a>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <em class="fa fa-lg fa-file-image-o"></em>
                           </td>
                           <td><a href="#" class="text-muted">baground-lg.png</a>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <em class="fa fa-lg fa-file-code-o"></em>
                           </td>
                           <td><a href="#" class="text-muted">picture.controller.js</a>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <em class="fa fa-lg fa-file-word-o"></em>
                           </td>
                           <td><a href="#" class="text-muted">applicat-diagrams.docx</a>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <em class="fa fa-lg fa-file-code-o"></em>
                           </td>
                           <td><a href="#" class="text-muted">database.controller.js</a>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <em class="fa fa-lg fa-file-code-o"></em>
                           </td>
                           <td><a href="#" class="text-muted">database.controller.js</a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
   <p class="text-right"><a href="#" class="btn btn-link">Open repository</a>
   </p>
</div>