<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

Total: <%= @projects.size %> projects
<ul>
	<% @projects.each do |i| %>
		<li>
			<%= link_to project_path(i) do %>
				<%= "project #{i.title} - updates #{i.updates.length if i.updates}" %>
			<% end %>
		</li>
	<% end %>
</ul>


<div class="pull-right">
   <button type="button" class="btn btn-default btn-sm">Create project</button>
</div>
<h3>Projects</h3>
<div class="row">
 		<% @projects.each do |p| %>
 		<%= render partial: "project_card", locals: { project: p} %>
 		<% end %>
</div>
