<%#= render partial: "tmp_index" %>


<div class="pull-right">
	<%= link_to t(:Create) + " " + t(:Project), new_project_path, class: "btn btn-default btn-sm" %>
</div>
<h3><%= t(:Projects) %></h3>
<div class="row">
 		<% @projects.each do |p| %>
 			<%= render partial: "project_card", locals: { project: p, scope: p.scope} %>
 		<% end %>
</div>
