<h1>Scopes</h1>

Total: <%= @scopes.length %> scopes
<ul>
	<% @scopes.each do |sc| %>
		<li>
			<%= link_to "#{sc.name} - scope id:#{sc.id}", scope_path(sc) %>
		</li>
	<% end %>
</ul>
<br>
<%= link_to "Create Scope", new_scope_path %>