<%#= render partial: "tmp_index" %>

<% @scopes.each do |scope| %>
		
		<h3>
			<%= scope.name  %>
		</h3>
		<% scope.projects.each do |p| %>
 			<%= render partial: "projects/project_card", locals: { project: p, scope: p.scope} %>
 		<% end %>
		
<% end %>