<h1>Scopes#index</h1>
<p>Find me in app/views/scopes/index.html.erb</p>

Total: <%= @scopes.length %> scopes
<ul>
	<% @scopes.each do |sc| %>
		<li>
			<%= link_to "#{sc.name} - scope id:#{sc.id}", scope_path(sc) %>
		</li>
	<% end %>
</ul>
<br>
<%= link_to "Create Scope", new_scope_path %>



