<div class="list-group-item">
	<div class="media-box">
	   <div class="media-box-body clearfix">
	   	
		    <p class="mb-sm">
		       <strong class="label label-success">
						<%= t(:all_streams_updated) %>
		       </strong>
		    </p>  
		</div>
	</div>
</div>
