<a href="<%= stream_path stream %>" class="list-group-item">
	<div class="media-box">
	   <div class="media-box-body clearfix">
	   	
		    <p class="mb-sm">
		       <strong>
		       <%= stream.step.name %>
		       |
		       <%= stream.title %>
		       </strong>
		    </p>  
		</div>
	</div>
</a>