<a href="<%= new_stream_update_path [stream, Update.new] %>" class="list-group-item">
	<div class="media-box">
	   <!-- <div class="pull-left">
	      <img src="<%#= image_path('angle/user/02.jpg') %>" alt="Image" class="media-box-object img-circle thumb32" />
	   </div> -->
	   <div class="media-box-body clearfix">
	   	
		    <p class="mb-sm">
		       <strong>
		       <%= stream.scope.name %>
		       |
		       <%= stream.title %>
		       </strong>
		    </p>  
		</div>
	</div>
</a>