Total: <%= @updates.size %> updates
<ul>
	<% @updates.each do |update| %>
		<li>
			<%= link_to update_path update do %>
				<%= "update #{update.update_week} - progress: #{update.progress_status} - project: #{update.project.title}" %>
			<% end %>
		</li>
	<% end %>
</ul>