<h1>Updates#index</h1>
<p>Find me in app/views/updates/index.html.erb</p>


Total: <%= @updates.size %> updates
<ul>
	<% @updates.each do |update| %>
		<li>
			<%= link_to update_path update do %>
				<%= "update #{update.update_week} - progress: #{update.progress_status} - stream: #{update.stream.title}" %>
			<% end %>
		</li>
	<% end %>
</ul>