<h1>Updates#index</h1>
<p>Find me in app/views/updates/index.html.erb</p>


Total: <%= @updates.size %> updates
<ul>
	<% @updates.each do |update| %>
		<li>
			<%= link_to "update #{update.id} #{update}", update_path(update) %>
		</li>
	<% end %>
</ul>