<div class="pull-right">
	<%#= link_to "Create Update", new_stream_update_path, class: "btn btn-default btn-sm" %>
</div>
<h3><%= t(:updates_of_last_week) %></h3>
<h4 class="text-danger">
	<%= link_to t(:back_to_this_week_updates), mises_a_jour_de_la_semaine_path %>
</h4>
<div class="row">


	<%#= render partial: "tmp_index" %>

	<%= render partial: "updates", locals: {updates: @updates, streams_without_updates: @streams_without_updates, week: t(:last_week)} %>