<div class="pull-right">
	<%#= link_to "Create Update", new_project_update_path, class: "btn btn-default btn-sm" %>
</div>
<h3>Updates of last week</h3>
<h4 class="text-danger">
	<%= link_to "Back to updates of the week", updates_of_the_week_path %>
</h4>
<div class="row">


	<%#= render partial: "tmp_index" %>

	<%= render partial: "updates", locals: {updates: @updates, projects_without_updates: @projects_without_updates, week: "last week"} %>