<% if user_signed_in? %>
 <li>
		<%= link_to destroy_user_session_path, method: :delete do %>
      <%#= t(:sign_out) %>
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    <% end %>
   </li>
<% else %>
	<li>
  	<%= link_to t(:sign_in), new_user_session_path %>
  </li>
<% end %>

